@mixin flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin flexRowBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@mixin flexRowEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

@mixin flexColumnCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flexColumnBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@mixin flexColumnEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}